<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link href="css/formstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav th:replace="~{fragments::menu('connexion')}"></nav>
</header>
<main>
    <section>
        <h1>CONNEXION</h1>
        <form method="POST">
            <input class="hoverInput" name="email" type="text">
            <input class="hoverInput" name="password" type="password">
            <button id="login" type="submit" value="Se connecter">Se connecter</button>
            <button id="button_signup" th:href="sign_up" type="button">S'inscrire</button>
        </form>
    </section>
</main>
</body>
</html>
